---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import { getEntries } from "astro:content";
import RootLayout from "./RootLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  publicationDate,
  modificationDate,
  cover,
  authors: authorsReferences,
} = Astro.props;
const authors = await getEntries(authorsReferences);
---

<RootLayout>
  <BaseHead title={title} description={description} slot="head" />
  <Header />
  <main>
    {
      authors && authors.length > 0 && (
        <div class="prose" style="text-align: center; margin-bottom: 2em;">
          Written by
          {authors.map(({ data }, index) => (
            <span>
              {data.x ? (
                <a href={data.x} target="_blank" rel="noopener noreferrer">
                  {data.name}
                </a>
              ) : (
                <span>{data.name}</span>
              )}
              {index < authors.length - 1 && ", "}
            </span>
          ))}
        </div>
      )
    }
    <article>
      <div class="hero-image">
        {cover && <Image width={1020} height={510} src={cover} alt="" />}
      </div>
      <div class="prose">
        <div class="title">
          <div class="date">
            <FormattedDate date={publicationDate} />
            {
              modificationDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={modificationDate} />
                </div>
              )
            }
          </div>
          <h1>{title}</h1>
          <hr />
        </div>
        <slot />
      </div>
    </article>
  </main>
  <Footer />
</RootLayout>
